html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body { font-family: "Open Sans", sans-serif; }
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle }
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea { resize: vertical }
p {
    line-height: 24px;
    color: #969595;
}
a{ -webkit-transition: .3s ease; transition: .3s ease; outline: 0;}
a:focus{outline: 0;}
*:focus{outline:none;}

/* -------- Pre Loader -------- */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fefefe;
	z-index:9999;
}

#status {
	background-image: url("../images/preloader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	position: absolute;
	width: 100%;
}


/* ===[ Variables ]=== */
.primary-button,
.main-slider .carousel-inner .item figure figcaption a,
.services .services-content .service-box a.btn.btn-primary,
.services .services-content .service-box .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .services .services-content .service-box a.btn.btn-default,
.call-to-action ul li a.btn.btn-primary,
.call-to-action ul li a.btn.btn-default,
.latest-work .portfolio-work .controls button,
.why-choose-us .wcu-left a.btn.btn-primary,
.why-choose-us .wcu-left .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .why-choose-us .wcu-left a.btn.btn-default,
.pricing-table .pricing-content .pricing-cell a.btn.btn-primary,
.pricing-table .pricing-content .pricing-cell .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .pricing-table .pricing-content .pricing-cell a.btn.btn-default,
.pricing-table .pricing-content .featured a.btn.btn-primary,
.pricing-table .pricing-content .featured .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .pricing-table .pricing-content .featured a.btn.btn-default {
    background: #1ba3e9;
    border-bottom: 2px solid #007bba;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
    border-radius: 3px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.primary-button-hover,
.call-to-action ul li a.btn.btn-primary:hover,
.call-to-action ul li a.btn.btn-default:hover {
    text-decoration: none;
    border-bottom-color: #1ba3e9;
    margin-top: 4px;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* =========================
    Header
   =========================
   ================================================== */
header {
    background: #333;
    padding: 15px 0;
}
.header-top-contact ul,
.header-top-social ul { margin-bottom: 0 }
.header-top-contact ul li {
    color: #fff;
    margin-right: 15px;
}
.header-top-contact ul li:last-child { margin-right: 0 }
.header-top-contact ul li i {
    padding-right: 5px;
    color: #1ba3e9;
}
.header-top-social { text-align: right }
.header-top-social ul li { margin-right: 15px }
.header-top-social ul li.top-consult-btn { margin-right: 0 }
.header-top-social ul li a { color: #fff }
.top-consult-btn a {
    background: rgba(255, 135, 36, 0.9) none repeat scroll 0 0;
    padding: 15px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.top-consult-btn a:hover,
.top-consult-btn a:focus {
    text-decoration: none;
    background: rgba(255, 135, 36, 1) none repeat scroll 0 0;
}
.header-top-social .modal .modal-content {
    border-radius: 0 0 5px 5px;
    text-align: left;
}
#myModal {
  overflow: hidden;
}
.modal-open{
   padding-right:0px !important;
 }
.header-top-social .modal .modal-content .modal-header {
    background: rgb(255, 135, 36);
    color: #fff;
}
.header-top-social .modal .modal-content .modal-header .close {
    margin-top: 0;
    color: #fff;
    opacity: .8;
}
.header-top-social .modal .modal-content .modal-header .close:hover { opacity: 1 }
.header-top-social .modal .modal-content .modal-body form input {
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
    border-radius: 0;
}
.header-top-social .modal .modal-content .modal-body form textarea {
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100px;
    border-radius: 0;
}
.header-top-social .modal .modal-content .modal-body form button.btn.btn-primary {
    background: rgb(255, 135, 36);
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #007bba;
    border-left: 0;
    margin-bottom: 2px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.header-top-social .modal .modal-content .modal-body form button.btn.btn-primary:hover {
    margin-bottom: 0;
    margin-top: 2px;
    border-bottom-color: rgb(255, 135, 36);
}
.sticky-wrapper.is-sticky nav {
    background: rgba(3,3,3,.8);
    border-radius: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
	border:0 none;
}
.sticky-wrapper.is-sticky nav ul.navbar-nav { margin-bottom: 0;}
.sticky-wrapper.is-sticky ul.main-menu li a {
    margin-top: 20px;
	margin-bottom:20px !important;
}
.sticky-wrapper.is-sticky ul.main-menu li ul li a, .sticky-wrapper.is-sticky ul.main-menu li ul li ul li a{
	margin-top:0;
	margin-bottom:0 !important;
}
.sticky-wrapper.is-sticky ul.dropdown-menu{
	padding-bottom:0;
	padding-top:0;
}
/* =========================
    Intro Slider
   =========================
   ================================================== */
.main-slider { overflow: hidden }
.main-slider .carousel-inner .item figure { margin: 0 }
.main-slider .carousel-inner .item figure img { width: 100% }
.carousel-control.left,
.carousel-control.right { background: none }
.carousel-indicators{
	z-index:1;
}
.carousel {
	z-index: 0;
}
.carousel-control {
    border: 4px solid #fff;
    bottom: auto;
    height: 65px;
    margin-top: -50px;
    text-shadow: none;
    top: 50%;
    width: 65px;
    padding-top: 14px;
    border-radius: 100px;
    color: #fff;
}
.carousel-control.left {
    left: -100px;
    opacity: 0;
    -webkit-transition: .6s ease;
    transition: .6s ease;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #1ba3e9;
    border-color: #1ba3e9;
}
.carousel-control.right {
    right: -100px;
    opacity: 0;
    -webkit-transition: .6s ease;
    transition: .6s ease;
}
.main-slider:hover .carousel-control.left {
    left: 30px;
    opacity: 1;
}
.main-slider:hover .carousel-control.right {
    right: 30px;
    opacity: 1;
}
.intro { position: relative }
.intro .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.intro .main-nav ul.main-menu {
    float: right;
    margin-top: 20px;
}
.intro .main-nav .sticky-wrapper.is-sticky ul.main-menu {
    margin-top: 0;
}

.intro .main-nav ul.main-menu li {
    margin-right: 5px;
    position: relative;
}
.intro .main-nav ul.main-menu li a {
    color: #ffffff;
    font-weight: 600;
    padding: 6px 15px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sticky-wrapper.is-sticky nav ul.main-menu li a { margin-bottom: 0 }
.intro .main-nav ul.main-menu li ul li a { margin-bottom: 0 }
.intro .main-nav ul.main-menu li.active a { color: #41bbfa }
.intro .main-nav ul.main-menu li a:hover,
.intro .main-nav ul.main-menu li a:focus {
    background: none;
    color: #41bbfa;
    outline: none;
}
.intro .main-nav ul.main-menu li a::before {
    background: transparent none repeat scroll 0 0;
    border-left: 1px solid #1ba3e9;
    border-top: 1px solid #1ba3e9;
    content: "";
    height: 10px;
    left: -70px;
    position: absolute;
    top: 0;
    width: 25px;
    visibility: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0;
}
.intro .main-nav ul.main-menu li a::after {
    background: transparent none repeat scroll 0 0;
    border-right: 1px solid #1ba3e9;
    border-bottom: 1px solid #1ba3e9;
    content: "";
    height: 10px;
    right: 70px;
    position: absolute;
    bottom: 0;
    width: 25px;
    visibility: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    opacity: 0;
}
.intro .main-nav ul.main-menu li a:hover::before {
    visibility: visible;
    opacity: 1;
    left: 0;
}
.intro .main-nav ul.main-menu li a:hover::after {
    visibility: visible;
    opacity: 1;
    right: 0;
}
.intro .main-nav ul.main-menu li.active a::before {
    background: transparent none repeat scroll 0 0;
    border-left: 1px solid #1ba3e9;
    border-top: 1px solid #1ba3e9;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
    visibility: visible;
    opacity: 1;
}
.intro .main-nav ul.main-menu li.active a::after {
    background: transparent none repeat scroll 0 0;
    border-right: 1px solid #1ba3e9;
    border-bottom: 1px solid #1ba3e9;
    content: "";
    height: 10px;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 25px;
    visibility: visible;
    opacity: 1;
}
/* ===[ Sub Menu ]=== */
.intro .main-nav ul.main-menu li ul.dropdown-menu {
	background:rgba(3, 3, 3, 0.8) none repeat scroll 0 0;
    border-radius: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 70px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.main-nav .sticky-wrapper.is-sticky ul.main-menu li ul.dropdown-menu {
    top: 70px !important;
	box-shadow:none;
	z-index:-1;
}
.intro .main-nav ul.main-menu li:hover ul.dropdown-menu {
    visibility: visible;
    opacity: 1;
    top: 50px;
}
.intro .main-nav ul.main-menu li ul.dropdown-menu li a:before,
.intro .main-nav ul.main-menu li ul.dropdown-menu li a:after { content: none }
.intro .main-nav ul li:hover ul li a { color: #fff }
.intro .main-nav ul li:hover ul li a:hover {
    text-decoration: none;
    background: transparent;
    color: #41bbfa;
}
.intro .main-nav ul li:hover a { color: #41bbfa }
.intro .main-nav ul li.active:hover ul li a:hover { color: #fff }
.intro .main-nav ul li.active:hover ul li a:hover { color: #41bbfa }
.intro .main-nav ul li.active:hover ul li a { color: #fff }
.intro .main-nav ul li:hover a:after {
    background: transparent none repeat scroll 0 0;
    border-right: 1px solid #1ba3e9;
    border-bottom: 1px solid #1ba3e9;
    content: "";
    height: 10px;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 25px;
    visibility: visible;
    opacity: 1;
}
.intro .main-nav ul li:hover a:before {
    background: transparent none repeat scroll 0 0;
    border-left: 1px solid #1ba3e9;
    border-top: 1px solid #1ba3e9;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
    visibility: visible;
    opacity: 1;
}
.intro .main-nav ul li ul li ul {
	background:rgba(3, 3, 3, 0.8) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    left: 168px;
    list-style: outside none none;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 100px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 160px;
}
.intro .main-nav ul li ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 0;
}
.intro .main-nav ul li ul li ul li { padding-bottom: 10px }
.intro .main-nav ul li ul li ul li:last-child { padding-bottom: 0 }
.intro .main-nav ul li ul li ul li a {
    padding: 0 !important;
    content: none;
}
.intro .main-nav ul li ul li:hover ul li a { color: #fff }
.intro .main-nav ul li ul li:hover ul li a:hover {
    text-decoration: none;
    background: transparent;
    color: #41bbfa;
}
.intro .main-nav ul li ul li:hover a { color: #41bbfa }
.intro .main-nav ul.main-menu li.search {
    color: #fff;
    margin-left: 15px;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
}
.intro .main-nav .sticky-wrapper.is-sticky  ul.main-menu li.search{
	margin-top:20px;
}
.intro .main-nav ul.main-menu li.search:hover .search-box {
    visibility: visible;
    opacity: 1;
}
.intro .main-nav ul.main-menu li.search .search-box {
    position: absolute;
    left: -115px;
    top: 40px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.intro .main-nav ul.main-menu li.search .search-box .search-form { position: relative }
.intro .main-nav ul.main-menu li.search .search-box .search-form:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 15px;
    left: 48%;
    position: absolute;
    top: -5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 15px;
}
.intro .main-nav ul.main-menu li.search .search-box .search-form input[type=text] {
    background: #000;
    border: 1px solid #000;
    border-radius: 100px;
    color: #fff;
    height: 40px;
    padding: 10px 40px 10px 15px;
    position: relative;
}
.intro .main-nav ul.main-menu li.search .search-box .search-form input[type=text]:focus {
    background: #000;
    outline: none;
}
.intro .main-nav ul.main-menu li.search .search-box .search-form button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #fff;
    height: 40px;
    padding: 0 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.intro .main-nav ul li ul li a { color: #C7C7C7 !important }
.intro .main-nav ul li ul li a:hover { color: #41bbfa !important }
/* =========================
    Main Menu
   =========================
   ================================================== */
.main-nav nav {
    margin-bottom: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.main-slider .carousel-inner .item figure { position: relative }
.main-slider .carousel-inner .item figure::before {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.main-slider .carousel-inner .item figure figcaption {
    bottom: 0;
    left: 6%;
    margin: 0 auto;
    position: absolute;
    right: 6%;
    top: 30%;
    width: 1170px;
    padding: 0 15px;
}
.main-slider .carousel-inner .item figure figcaption h1 {
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "Lora", serif;
    font-size: 45px;
    font-weight: 600;
    width: 50%;
    line-height: 50px;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.main-slider .carousel-inner .item figure figcaption p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 30px;
  width: 50%;
}
.main-slider .carousel-inner .item figure figcaption a {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    padding: 10px 40px;
    border-bottom-width: 4px;
    margin-bottom: 4px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.main-slider .carousel-inner .item figure figcaption a:hover {
    text-decoration: none;
    border-bottom-color: #1ba3e9;
    margin-top: 4px;
    margin-bottom: 0;
}
.main-slider .carousel-indicators li {
    margin: 0;
    height: 5px;
    width: 50px;
    border-radius: 0;
    background: #fff;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.main-slider .carousel-indicators li:hover { background: #41bbfa }
.main-slider .carousel-indicators .active {
    background-color: #1ba3e9;
    height: 5px;
    margin: 0;
    width: 50px;
}
.navbar-brand { margin-top: 5px }
/* =========================
    Services
   =========================
   ================================================== */
.section-header h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 600;
    color: #313131;
    font-family: "Lora", serif;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 30px;
}
.section-header h2:before {
    border-left: 50px solid #DADADA;
    border-right: 50px solid #DADADA;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -70px;
    position: absolute;
    width: 130px;
}
.section-header h2:after {
    background: #1ba3e9 none repeat scroll 0 0 padding-box content-box;
    border-bottom: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    bottom: -10px;
    content: "";
    height: 22px;
    left: 50%;
    margin-left: -16px;
    padding: 0 0 8px 8px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 22px;
}
.section-header p {
    text-align: center;
    color: #969595;
    font-size: 15px;
    padding: 0 250px;
    margin: 0 0 40px 0;
    font-family: "Open Sans", sans-serif;
}
.services { padding: 150px 0 }
.services .services-content .service-box {
    background: #F7F7F7;
    padding: 50px 20px;
    text-align: center;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.services .services-content .service-box p.icon {
    font-size: 50px;
    color: #cccccc;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.services .services-content .service-box h3 {
    font-size: 25px;
    color: #313131;
    font-family: "Roboto", sans-serif;
    margin: 20px 0;
}
.services .services-content .service-box p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #969595;
    margin-bottom: 20px;
}
/* .service-box a.btn.btn-primary {
    background: #F1F1F1 !important;
    color: #969595 !important;
    border-bottom-color: #b5b5b5 !important;
}
.services .services-content .service-box:hover a.btn.btn-primary {
    background: #41bbfa;
    border-color:#d9731e;
    border-style: none none solid;
    border-width: 0 0 3px;
    color: #fff;
}
   ================================================== */
.services .services-content .service-box a.btn.btn-primary,
.services .services-content .service-box .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .services .services-content .service-box a.btn.btn-default {
    padding: 10px 30px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.services .services-content .service-box a.btn.btn-primary:hover,
.services .services-content .service-box .call-to-action ul li a.btn.btn-default:hover,
.call-to-action ul li .services .services-content .service-box a.btn.btn-default:hover {
    text-decoration: none;
    border-bottom-color: #1ba3e9;
    margin-top: 4px;
    margin-bottom: 0;
}
.services .services-content .service-box:hover { -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) }
.services .services-content .service-box:hover p.icon { color: #1ba3e9 }
/* =========================
    Call To Action
   =========================
   ================================================== */
.call-to-action {
    padding: 150px 0;
    background: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}
.call-to-action::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.call-to-action h2 {
    font-size: 30px;
    font-family: "Open Sans", serif;
    color: #fff;
    text-align: center;
    padding: 0 250px;
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
    line-height: 1.5;
}
.call-to-action ul {
    width: 100%;
    text-align: center;
}
.call-to-action ul li a.btn.btn-primary,
.call-to-action ul li a.btn.btn-default {
    border-bottom-width: 4px;
    padding: 10px 50px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.call-to-action ul li a.btn.btn-primary:hover,
.call-to-action ul li a.btn.btn-default:hover {
    margin-bottom: 0;
    margin-top: 4px;
}
.call-to-action ul li a.btn.btn-default {
    background: #fff;
    border-bottom-color: #ddd;
    color: #1ba3e9;
}
.call-to-action ul li a.btn.btn-default:hover {
    margin-bottom: 0;
    margin-top: 4px;
    border-bottom-color: #fff;
}
/* =========================
    Latest Work
   =========================
   ================================================== */
#portfolio-container .mix { display: none }
.latest-work { padding: 150px 0 }
.latest-work .portfolio-work .controls {
    text-align: center;
    margin-bottom: 40px;
}
.latest-work .portfolio-work .controls button {
    padding: 7px 20px;
    margin-right: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    background: none;
    border: 2px solid #1ba3e9;
    color: #969595;
    border-radius: 0;
    margin-top: 0;
}
.latest-work .portfolio-work .controls button:hover {
    background: #1ba3e9;
    color: #fff;
}
.latest-work .portfolio-work .controls button.active {
    background: #1ba3e9;
    color: #fff;
}
.latest-work .portfolio-work .portfolio-container .mix { margin-bottom: 30px }
.latest-work .portfolio-work .portfolio-container figure {
    margin: 0;
    position: relative;
}
.latest-work .portfolio-work .portfolio-container figure::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(100, 170, 255, 0.7);
    content: "";
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.latest-work .portfolio-work .portfolio-container figure:hover::before {
    visibility: visible;
    opacity: 1;
    top: 10px;
    left: 10px;
}
.latest-work .portfolio-work .portfolio-container figure figcaption {
    position: absolute;
    text-align: center;
    top: 30%;
    right: 50px;
    width: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.latest-work .portfolio-work .portfolio-container figure figcaption ul { margin-bottom: 0 }
.latest-work .portfolio-work .portfolio-container figure figcaption ul li a {
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.latest-work .portfolio-work .portfolio-container figure figcaption ul li a:hover {
    background: #006da6;
    text-decoration: none;
}
.latest-work .portfolio-work .portfolio-container figure:hover figcaption {
    visibility: visible;
    opacity: 1;
    top: 50%;
    right: 0;
}
/* =========================
    Testimonials
   =========================
   ================================================== */
.testimonial {
    background: url(../images/testimonial-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 150px 0;
    position: relative;
}
.testimonial::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.testimonial .client-image .owl-wrapper-outer .owl-wrapper {
    width: auto !important;
    padding: 50px 0 50px 31%;
}
.testimonial .client-image .owl-wrapper-outer .owl-wrapper .owl-item { margin-right: 10px }
.testimonial .client-image .owl-wrapper-outer .owl-wrapper .owl-item .item { position: relative }
.testimonial .client-image .owl-wrapper-outer .owl-wrapper .owl-item .item::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    border-radius: 100px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
	cursor:pointer;
}
.testimonial .client-image .owl-wrapper-outer .owl-wrapper .owl-item .item img {
    border-radius: 100px;
    height: 70px;
    width: 70px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    position: relative;
}
.testimonial .client-image .owl-wrapper-outer .owl-wrapper .owl-item.synced .item { position: relative }
.testimonial .client-image .owl-wrapper-outer .owl-wrapper .owl-item.synced .item::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: none;
    opacity: 1;
    z-index: 3;
    border-radius: 100px;
	cursor:pointer;
}
.testimonial .client-feedback { position: relative }
.testimonial .client-feedback .item {
    text-align: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.testimonial .client-feedback .item p {
    padding: 0 200px;
    color: #ffffff;
}
.testimonial .client-feedback .item h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.testimonial .client-feedback .item span { color: #1ba3e9 }
.testimonial .client-feedback .owl-buttons {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
}
.testimonial .client-feedback .owl-buttons:hover .owl-prev,
.testimonial .client-feedback .owl-buttons:hover .owl-next,
.testimonial .client-feedback .owl-buttons:hover .owl-next {
    background: #1ba3e9;
    color: #fff;
	border-color:#1ba3e9;
}
.testimonial .client-feedback .owl-buttons .owl-prev,
.testimonial .client-feedback .owl-buttons .owl-next {
    border: 2px solid #FFF;
    border-radius: 100px;
    color: #FFF;
    font-size: 25px;
    height: 50px;
    padding-top: 4px;
    text-align: center;
    width: 50px;
    float: left;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.testimonial .client-feedback .owl-buttons .owl-next { float: right }

#sync2 .owl-item.active .item { position: relative }
#sync2 .owl-item.active .item:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    border-radius: 100px;
    z-index: 1;
}
#sync2 .owl-item.active.center .item:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.0);
    border-radius: 100px;
    z-index: 1;
}
.owl-item.active .item img { border-radius: 100px }
/* =========================
    Why Choose Us
   =========================
   ================================================== */
.why-choose-us {
    margin: 150px 0;
    overflow: hidden;
}
.why-choose-us .wcu-left,
.why-choose-us .wcu-right { margin-top: 0 }
.why-choose-us .wcu-left h3 {
    margin: 0 0 20px 0;
    font-size: 30px;
    font-family: "Lora", serif;
    font-weight: 600;
    color: #313131;
    padding-bottom: 15px;
    position: relative;
}
.why-choose-us .wcu-left h3::before {
    position: absolute;
    content: "";
    width: 100px;
    background: #1ba3e9;
    height: 2px;
    bottom: 0;
    left: 0;
}
.why-choose-us .wcu-left p { margin-bottom: 30px }
.why-choose-us .wcu-left a.btn.btn-primary,
.why-choose-us .wcu-left .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .why-choose-us .wcu-left a.btn.btn-default { margin-bottom: 2px }
.why-choose-us .wcu-left a.btn.btn-primary:hover,
.why-choose-us .wcu-left .call-to-action ul li a.btn.btn-default:hover,
.call-to-action ul li .why-choose-us .wcu-left a.btn.btn-default:hover {
    margin-bottom: 0;
    margin-top: 2px;
    border-bottom-color: #1ba3e9;
}
.why-choose-us .wcu-right { position: relative }
.why-choose-us .wcu-right img { height: 100% }
.why-choose-us .wcu-right a.video-play-btn {
    position: absolute;
    color: #fff;
    font-size: 80px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    opacity: .8;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.why-choose-us .wcu-right a.video-play-btn:hover { opacity: 1 }
.video-wrapper iframe { border: 0 }
/* =========================
    Project Summery
   =========================
   ================================================== */
.project-summery,
.our-clients {
    padding: 150px 0;
    background: url(../images/project-summery-bg.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.project-summery::before,
.our-clients::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    content: "";
    left: 0;
    top: 0;
}
.project-summery .col-sm-3,
.our-clients .col-sm-3 {
    text-align: center;
    color: #ffffff;
}
.project-summery .col-sm-3 i,
.our-clients .col-sm-3 i {
    color: #41bbfa;
    font-size: 25px;
}
.project-summery .col-sm-3 p.project-count,
.our-clients .col-sm-3 p.project-count,
.project-summery .col-sm-4 p.project-count,
.our-clients .col-sm-4 p.project-count{
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 25px 0 15px;
}
.project-summery .col-sm-3 h5.project-name,
.our-clients .col-sm-3 h5.project-name,
.project-summery .col-sm-4 h5.project-name,
.our-clients .col-sm-4 h5.project-name{
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
/* =========================
    Pricing Table
   =========================
   ================================================== */
.pricing-table {
    padding: 150px 0;
    background: #FAFCFC;
}
.pricing-table .pricing-content .pricing-cell {
    background: #fff;
    border: 1px solid #F1F1F1;
    text-align: center;
    padding: 30px 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.pricing-table .pricing-content .pricing-cell .pricing-head h2 {
    font-size: 40px;
    color: #313131;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: relative;
    margin: 0 0 5px 0;
}
.pricing-table .pricing-content .pricing-cell .pricing-head h2 i {
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.pricing-table .pricing-content .pricing-cell .pricing-head p {
    color: #969595;
    font-size: 12px;
    text-transform: uppercase;
}
.pricing-table .pricing-content .pricing-cell .pricing-head h3.pricing-title {
    background: #F1F1F1;
    padding: 15px 0;
    color: #969595;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.pricing-table .pricing-content .pricing-cell ul.pricing-details li {
    padding: 15px 0;
    color: #969595;
}
.pricing-table .pricing-content .pricing-cell a.btn.btn-primary,
.pricing-table .pricing-content .pricing-cell .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .pricing-table .pricing-content .pricing-cell a.btn.btn-default {
    background: #F1F1F1;
    color: #969595 !important;
    border-bottom-color: #B5B5B5;
    margin-bottom: 2px;
}
.pricing-table .pricing-content .pricing-cell a.btn.btn-primary:hover,
.pricing-table .pricing-content .pricing-cell .call-to-action ul li a.btn.btn-default:hover,
.call-to-action ul li .pricing-table .pricing-content .pricing-cell a.btn.btn-default:hover {
    margin-bottom: 0;
    margin-top: 2px;
    border-bottom-color: #f1f1f1;
}
.pricing-table .pricing-content .featured,
.pricing-table .pricing-content .pricing-cell:hover { -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) }
.pricing-table .pricing-content:hover .featured { -webkit-box-shadow: none; box-shadow: none }
.pricing-table .pricing-content:hover .featured:hover { -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) }
.pricing-table .pricing-content:hover .featured .pricing-head h3.pricing-title {
    background: #f1f1f1;
    color: #969595;
}
.pricing-table .pricing-content:hover .featured a.btn.btn-primary {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom-color: #b5b5b5;
    color: #969595 !important;
    margin-bottom: 2px;
}
.pricing-table .pricing-content .featured .pricing-head h3.pricing-title,
.pricing-table .pricing-content .pricing-cell:hover .pricing-head h3.pricing-title {
    background: #1ba3e9;
    color: #ffffff;
}
.pricing-table .pricing-content .featured a.btn.btn-primary,
.pricing-table .pricing-content .pricing-cell:hover a.btn.btn-primary,
.pricing-table .pricing-content .featured .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .pricing-table .pricing-content .featured a.btn.btn-default,
.pricing-table .pricing-content .pricing-cell:hover .call-to-action ul li a.btn.btn-default,
.call-to-action ul li .pricing-table .pricing-content .pricing-cell:hover a.btn.btn-default {
    background: #1ba3e9;
    border-bottom-color: #006da6;
    color: #fff !important;
    margin-bottom: 2px;
}
.pricing-table .pricing-content .featured a.btn.btn-primary:hover,
.pricing-table .pricing-content .pricing-cell:hover a.btn.btn-primary:hover,
.pricing-table .pricing-content .featured .call-to-action ul li a.btn.btn-default:hover,
.call-to-action ul li .pricing-table .pricing-content .featured a.btn.btn-default:hover,
.pricing-table .pricing-content .pricing-cell:hover .call-to-action ul li a.btn.btn-default:hover,
.call-to-action ul li .pricing-table .pricing-content .pricing-cell:hover a.btn.btn-default:hover {
    margin-bottom: 0;
    margin-top: 2px;
    border-bottom-color: #1ba3e9;
}
/* =========================
    Our Clients
   =========================
   ================================================== */
.our-clients {
    padding: 125px 0;
    background: url(../images/clients-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.our-clients::before { background: rgba(0, 0, 0, 0.6) }
.our-clients .section-header { margin-bottom: 20px }
.our-clients .section-header h2 { color: #fff }
.our-clients .section-header p { color: #fff }
.our-clients .clients-logos div img { opacity: .7 }
/* =========================
    Footer
   =========================
   ================================================== */
footer {
    padding: 50px 0 0 0;
    background: #343434;
}
footer .footer-widget h2.widget-title {
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
footer .footer-widget .about-us-widget ul li {
    color: #969595;
    border-top: 1px solid #3F3F3F;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
}
footer .footer-widget .about-us-widget ul li i {
    display: inline-block;
    width: 25px;
    float: left;
}
footer .footer-widget .about-us-widget ul li p {
    display: inline;
    float: left;
    margin-bottom: 0;
}
footer .footer-widget .twitter-feed ul li {
    color: #969595;
    padding: 15px 0;
    border-bottom: 1px solid #3F3F3F;
}

footer .subscribe li{
    color: #969595;
}

footer .footer-widget .twitter-feed ul li:first-child { padding-top: 0 }
footer .footer-widget .twitter-feed ul li a { color: #1ba3e9 }
footer .footer-widget .twitter-feed ul li a:hover { text-decoration: none }
footer .footer-widget .twitter-feed ul li span {
    float: left;
    width: 90%;
}
footer .footer-widget .twitter-feed ul li span:first-child {
    width: 10%;
    float: left;
}
footer .footer-widget .twitter-feed ul li small.twitt-post-time { display: block }
footer .footer-widget .twitter-feed a.twitter-follow { color: #969595 }
footer .footer-widget .twitter-feed a.twitter-follow:hover { text-decoration: none }
footer .footer-widget .twitter-feed a.twitter-follow i { color: #1ba3e9 }
footer .footer-widget .subscribe form input[type=email] {
    background: #4C4C4C;
    border: 0 none;
    padding: 10px;
    color: #969595;
    margin: 15px 0;
    height: 40px;
    display: table-cell;
    width: 65%;
}
footer .footer-widget .subscribe form button {
    background: #1ba3e9;
    border: 0 none;
    color: #fff;
    padding: 10px;
    height: 40px;
    margin-left: -4px;
    display: table-cell;
    width: 35%;
}
footer .footer-widget .subscribe form p.privacy-alert { font-style: italic }
footer .footer-widget .footer-widget { margin-top: 50px }
footer .footer-widget .footer-widget .social-links ul li { padding-right: 15px }
footer .footer-widget .footer-widget .social-links ul li a {
    color: #969595;
    font-size: 20px;
}
footer .footer-widget .flickr-stream ul li { margin-bottom: 5px }
footer .footer-widget .flickr-stream a.flickr-more {
    color: #969595;
    display: inline-block;
    margin: 20px 0 0 5px;
}
footer .footer-widget .flickr-stream a.flickr-more:hover { text-decoration: none }
footer .footer-widget .flickr-stream a.flickr-more i { color: #1ba3e9 }
footer .footer-bottom {
    background: #2F2F2F;
    padding: 15px 0;
    margin-top: 50px;
}
footer .footer-bottom .copyright p { margin-bottom: 0 }
footer .footer-bottom .scrool-to-top p {
    margin-bottom: 0;
    text-align: right;
}
footer .footer-bottom .scrool-to-top p a {
    font-size: 20px;
    color: #969595;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
footer .footer-bottom .scrool-to-top p a:hover,
footer .footer-bottom .scrool-to-top p a:focus {
    color: #1ba3e9;
    outline: none;
}
/* ======================
   About Us Page
   ======================
   ================================================== */
.pages-header {
    background: url(../images/about-header-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
}
.page-header-image h2.page-header-title {
    color: #fff;
    font-family: "Lora",serif;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 25px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.page-header-image ol {
    background: none;
    text-align: center;
    padding: 0;
}
.page-header-image ol li a {
    color: #fff;
    font-weight: 600;
}
.about-information { padding: 100px 0 0 0 }
.about-information h2 {
    text-transform: uppercase;
    font-family: "Lora",sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
}
.about-information p { margin: 20px 0 50px 0 }
.about-information h3 {
    color: #333;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}
.about-information a.view-more {
    background: #1ba3e9;
    padding: 10px 15px;
    color: #fff;
    border-bottom: 3px solid #1c9adc;
    margin-bottom: 3px;
    border-radius: 3px;
    display: inline-block;
}
.about-information a.view-more:hover {
    text-decoration: none;
    margin-bottom: 0;
    margin-top: 3px;
    border-bottom-color: #1ba3e9;
}
.about-services {
    border-bottom: 2px solid #1ba3e9;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.about-services a {
    margin-right: 20px;
    font-size: 35px;
    color: #969595;
}
.about-services h4 {
    margin-top: 8px;
    margin-bottom: 27px;
}
.about-services p { float: none }
.about-page-services { padding-top: 100px }
.our-story { padding: 150px 0 }
#story-carousel .owl-pagination .owl-page {
    border: 1px solid #969595;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    text-indent: -9999px;
    width: 15px;
    position: relative;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
#story-carousel .owl-pagination .owl-page.active {
    border-color: #1ba3e9;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#story-carousel .owl-pagination .owl-page:last-child { margin-right: 0 }
#story-carousel .owl-pagination {
    margin-top: 50px;
    text-align: center;
}
/* ==========================================
    Contact Us Page
   ==========================================
   ================================================== */
.contact-main { margin: 100px 0 }
.contact-header {
    background: url(../images/contact-header-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact-header > h2 {
    font-family: "Lora",sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    background: #fff;
}
form.contact-form .form-group > input,
form.contact-form .form-group > textarea {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 50px;
    padding: 0 15px;
    width: 100%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin-bottom: 15px;
}
form.contact-form .form-group > textarea {
    height: 135px;
    padding: 15px;
}
form.contact-form .submit-btn {
    background: #41bbfa none repeat scroll 0 0;
    border-color: #0070c6;
    border-radius: 3px;
    border-style: none none solid;
    border-width: 0 0 3px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px 7px 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
form.contact-form .submit-btn:hover {
    margin-bottom: 0;
    margin-top: 3px;
    border-bottom-color: #41bbfa;
}
.info-items { margin-top: 25px }
.cobtact-info-box ul li { margin-bottom: 20px }
.cobtact-info-box ul li:last-child { margin-bottom: 0 }
.cobtact-info-box ul li .icon-box,
.cobtact-info-box ul li .text-box {
    display: table-cell;
    vertical-align: top;
}
.cobtact-info-box ul li .text-box { padding-left: 20px }
.cobtact-info-box ul li .icon-box .inner-box {
    background: #41bbfa none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    width: 50px;
}
.cobtact-info-box ul li .text-box h3 { margin-top: 0 }
#map {
    width: 100%;
    height: 400px;
}
#map .info-window h3 { margin: 10px 0 }






/* ==========================================
    Blog Page
   ==========================================
   ================================================== */
.blog-header {
    background: url(../images/blog/blog-header-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.blog-posts { margin: 100px 0 }
.post-image img.img-responsive { width: 100% }
.post-item { margin-bottom: 50px }
.post-title h3 { margin-top: 0 }
.post-title h3 a {
    color: #333;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    font-family: 'Lora', sans-serif;
    font-weight: 600;
}
.post-title h3 a:hover {
    text-decoration: none;
    color: #41bbfa;
}
.post-info {
    margin: 15px 0;
    opacity: 0.5;
}
.post-info a { color: inherit }
.post-info a:hover {
    color: #41bbfa;
    text-decoration: none;
}
.post-description .post-read-more a {
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}
.post-read-more { margin: 25px 0 }
.post-description { margin-bottom: 15px }
.post-description .post-read-more a:hover {
    color: #1ba3e9;
    text-decoration: none;
}
.post-meta .post-date,
.post-meta .post-comments,
.post-meta .post-shares {
    display: table-cell;
    vertical-align: top;
    padding-right: 15px;
}
.post-meta .post-comments a,
.post-meta .post-shares a { color: inherit }
.post-meta .post-comments a:hover,
.post-meta .post-shares a:hover {
    color: #1ba3e9;
    text-decoration: none;
}
.blog-pagination {
    text-align: center;
    margin: 80px 0 50px 0;
}
.blog-pagination ul li { display: inline }
.blog-pagination ul li a {
    border: 1px solid #c1c1c1;
    padding: 10px 15px;
    margin-left: -1px;
    color: #c1c1c1;
}
.blog-pagination ul li a:hover,
.blog-pagination ul li.active a {
    background: #1ba3e9;
    border-color: #1ba3e9;
    color: #fff;
    text-decoration: none;
}
.blog-pagination ul li:first-child a { border-radius: 3px 0 0 3px }
.blog-pagination ul li:last-child a { border-radius: 0 3px 3px 0 }
.blog-sidebar { margin-top: 100px }
.blog-sidebar .sidebar-widget .widget-title h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Lora', sans-serif;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.blog-sidebar .sidebar-widget .widget-title h2:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #41bbfa;
    left: 0;
    bottom: 0;
}
.recent-posts li { margin-bottom: 15px }
.recent-posts a {
    display: block;
    color: #969595;
    font-size: 15px;
    padding-bottom: 5px;
}
.recent-posts a:hover {
    color: #41bbfa;
    text-decoration: none;
}
.recent-posts small {
    font-style: italic;
    color: #A8A8A8;
    font-size: 12px;
}
.sidebar-widget { margin-bottom: 50px }
.services-widget li,
.category-widget li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}
.services-widget li:before,
.category-widget li:before {
    position: absolute;
    content: "\f105";
    top: 0;
    left: 0;
    font-family: 'FontAwesome';
    color: #969595;
}
.services-widget li a,
.category-widget li a {
    color: #969595;
    font-size: 15px;
}
.services-widget li a:hover,
.category-widget li a:hover {
    text-decoration: none;
    color: #41bbfa;
}
.contact-widget li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #969595;
}
.contact-widget li i {
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
}
.contact-widget li a { color: #969595 }
.contact-widget li a:hover {
    text-decoration: none;
    color: #41bbfa;
}
.blockquote-widget blockquote { border-left: 0 }
.widget-content.search-widget input {
    border: 2px solid #ddd;
    height: 40px;
    padding: 0 10px;
    width: 80%;
    display: table-cell;
}
.widget-content.search-widget button {
    background: #41bbfa none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    margin-left: -2px;
    display: table-cell;
    width: 20%;
}
.tags-widget ul li a {
    border: 1px solid #969595;
    text-transform: uppercase;
    color: #969595;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 12px;
    display: inline-block;
}
.tags-widget ul li a:hover {
    text-decoration: none;
    background: #41bbfa;
    color: #fff;
    border-color: #41bbfa;
}
/* ==========================================
    Single Post Page
   ==========================================
   ================================================== */
.blog-content { padding-bottom: 100px }
.single-blog { margin-top: 100px }
.post-content h2.post-title {
    font-family: "Lora",sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 0;
    position: relative;
}
.post-meta {
    text-align: right;
    margin-top: 30px;
}
.post-meta .date {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    font-weight: 600;
}
.post-meta h6 {
    margin-top: 0;
    color: #969595;
    font-weight: 300;
}
.day.colored {
    color: #41bbfa;
    display: block;
    font-size: 55px;
    margin-bottom: 5px;
}
.post-meta .details { color: #969595 }
.post-meta .details ul li { padding-bottom: 15px }
.post-meta .details ul li a { color: #969595 }
.post-meta .details ul li a:hover {
    text-decoration: none;
    color: #41bbfa;
}
.post-meta .details ul li i { padding-left: 5px }
.post-content p {
    margin: 20px 0;
    line-height: 1.8em;
}
.post-content blockquote { color: #969595 }
.post-content blockquote small { padding-top: 20px }
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 { font-family: "Lora", sans-serif }
.post-content ul li {
    color: #969595;
    padding-bottom: 15px;
    line-height: 1.8em;
}
.post-comments { margin-top: 100px }
.post-comments h3 {
    font-family: "Lora",sans-serif;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
}
.post-comments p {
    margin-bottom: 30px;
    font-size: 12px;
}
.post-comments form .form-group .form-control {
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.post-comments form .form-group textarea.form-control {
    min-height: 200px;
    max-height: 200px;
    padding-top: 10px;
}
.post-comments form .form-group input.form-control { height: 40px }
.post-comments form .btn.btn-primary {
    background: #41bbfa none repeat scroll 0 0;
    border: 2px solid #41bbfa;
    border-radius: 0;
    padding: 8px 25px;
    text-transform: uppercase;
    margin-top: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.post-comments form .btn.btn-primary:hover {
    background: none;
    color: #969595;
}
.post-image img { margin-bottom: 20px }
/* ===========================
   Team Page Styles
   ===========================
   ================================================== */
.team-one-header {
    text-align: center;
    padding: 100px 0;
}
.team-one-header h2 {
    font-family: "Lora",sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.team-one-header p {
    max-width: 700px;
    margin: 0 auto;
}
.image-box-description > h4 {
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
}
.social-icons > ul {
    padding: 0;
    margin-top: 20px;
}
.social-icons > ul li {
    display: inline;
    list-style: outside none none;
}
hr.line {
    border-color: #eee;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 0;
}
.social-icons ul li > a {
    border: 1px solid #eee;
    color: #41bbfa;
    display: inline-block;
    height: 32px;
    padding-top: 6px;
    text-align: center;
    width: 32px;
}
.social-icons ul li > a:hover {
    background: #41bbfa;
    color: #fff;
    border-color: #41bbfa;
}
.team-two { padding: 0 0 100px 0 }
.team-two-header {
    text-align: center;
    padding: 20px 0 100px 0;
}
.team-two-header h2 {
    font-family: "Lora",sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.team-two-header p {
    max-width: 700px;
    margin: 0 auto;
}
.image-circle.image-small {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}
.image-circle.image-small img {
    border-radius: 100px;
    border: 5px solid #eee;
}
.image-box-description { margin-bottom: 80px }
.team-recruit {
    background: #f6f6f6 none repeat scroll 0 0;
    padding: 100px 0;
    text-align: center;
}
.team-recruit h2 {
    margin: 0 0 20px 0;
    font-family: "Lora", sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.team-recruit p {
    font-size: 20px;
    font-weight: 300;
}
.team-recruit .team-reg-button {
    background: #41bbfa none repeat scroll 0 0;
    border-bottom: 2px solid #0070c6;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.team-recruit .team-reg-button:hover { text-decoration: none }
/* =================
   Helper classes
   =================
   ================================================== */
.hidden { display: none !important }
.nopadding {
    padding-left: 0;
    padding-right: 0;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible { visibility: hidden }
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after { clear: both }


/*这些是自己的style*/
.services-content img{
    height: 70px;
}

.about-services img{
    height: 30px;
    align-content: left;
}

.qiji {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
}

.project-summery img{
    /*height: 50px;*/
}


.project-summery  p.project-count,
.our-clients  p.project-count{
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 25px 0 15px;
}
.project-summery  h5.project-name,
.our-clients  h5.project-namee{
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.project-summery .col-xs-3 ,
.our-clients .col-xs-3,
.project-summery .col-xs-6 ,
.our-clients .col-xs-6{
    margin: auto;
    text-align: center;
}

.weichat_case img{
   margin-bottom: 20px;
}

.weichat_case {
    padding-top: 50px;
    padding-bottom: 70px;
}

.weichat_case h3{
    align-content: center;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.weichat_case p{
    color: white;
    font-size: medium;
}

.pages-header-weichat {
    background: url(../images/wechat_applet/weichat-header-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
}